body{
 background-color: rgb(165, 167, 204); 
}

header{
 display:flex;   
    background-color: rgb(214, 189, 238);
}

footer{
    background-color: aqua;
}

.cabecalho_imagem{
 width: 200px;   
 height: 200px;
 border-radius: 50%;
 padding: 20px;


}